@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root{
  /* declarando variáveis */
  --azul:#2155CD; 
  --branco: white;
}
header{
  width: 100%;
  height: 55px;
}
h1{
  font-family: roboto;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
/* barra de navegação */
a {
    color: var(--azul);
    text-decoration: none;
    transition: 0.3s;
  }

  @media (max-width:600px){
    a{
      color: white;
  }
 }
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--azul);
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: jura, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--branco);
    /* unidade responsiva que adapta conforme a janela do usuário se movimenta */
    height: 8vh; 
    
  }
  .nav-list {
    list-style: none; 
    display: flex;
   }
   .nav-list li{
     letter-spacing: 3px;
     margin-left: 60px;
   }
 .mobile-menu{
   display: none;
 }
 .mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--azul);
    margin: 8px;
    cursor: pointer;
 }
@media (max-width: 600px) {
    body{
      /* se algo transborda para fora da tela, não aparece no body. */
      overflow-x: hidden;
    }
    .nav-list{
      position: absolute;
      top: 8vh;
      right: 0;
      width: 100vw;
      height: 95vh;
      background: var(--azul);
      flex-direction: column;
      align-items:center;
      justify-content: space-around;
      margin-top: 0%;
      transform: translateX(100%);
    }
    .nav-list li{
      margin-left: 0;
      opacity: 0;
    }
   .mobile-menu{
     display: block;
   }
   .nav-list.active{
     transform: translateX(0);
   }
}
@media (max-width: 600px) {
  .hero{
      right: 0;
      width:100vw;
      height: 95vh;
      
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
#button-menu{
  border: none;
  background-color: white;
}
/* conteúdo home page */
.container{
  display: flex;
}
/* arredondamento do background */
#hero {
  display:block;
  align-items: center;
  box-sizing: border-box;
  height: 580px;
  background-color: var(--azul);
  clip-path: ellipse(138% 100% at 5.12% 0%);
  }
/* botão principal */
.bottom-contacts{
  background-color: var(--branco);
  width: 180px;
  height: 50px;
  border: none;
  box-shadow: 4px 5px 4px rgba(255, 255, 255, 0.452);
  border-radius: 50px;
  font-family:'Sarala', sans-serif;
  font-size: 20px;
  color: var(--azul);
}
.bottom-contacts:hover{
  background-color: rgb(160, 195, 255);
  color: var(rgb(82, 82, 233));
  width: 185px;
  height: 60px;
  transition-duration: 0.1s;
}
@media (max-width: 600px) {
  .bottom-contacts{
    width: 180px;
    height:30px;
}
  .bottom-contacts:hover{
    width: 181px;
    height: 35px;
  }
}
.content h1{
  color: white;
}
.content p{
  font-size: 25px;
  color: white;
}
.content{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-left: 9%;
 
}
#image{
  width:580px;
  height:580px;
  
}


/* Seção 1 SOBRE A EMPRESA*/
#about-us h1, p{
  color: var(--azul);
}
